/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.php-cs-fixer.dist.php export-ignore
/app.yaml export-ignore
/ARCHITECTURE.md export-ignore
/CONTRIBUTING.md export-ignore
/examples export-ignore
/phpunit.xml.dist export-ignore
/tests export-ignore
/phpstan.neon export-ignore
