<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" colors="true" bootstrap="src/autoload.php" cacheDirectory=".phpunit.cache">
  <coverage>
    <include>
      <directory suffix=".php">src/ReCaptcha/</directory>
    </include>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="reCAPTCHA Test Suite">
      <directory>tests/ReCaptcha/</directory>
    </testsuite>
  </testsuites>
  <logging/>
</phpunit>
